body{
    background-image: url(./56a59cdc7d2142d7e51cc8fe94f18d22.webp);
}
main{
    display: flex;
    width: 100%;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
    align-items: center;

}
.playerInputs{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    font-size: 19px;
    font-weight: bolder;
    margin-bottom: 30px;
}
#btnStartGame{
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 600;
    background-color: gold;
    border: none;
    color: green;
    transition: .4s;
}
#btnStartGame:hover{
    background-color: rgb(255, 255, 255);
    color: green;
    cursor: pointer;
}
#inputPlayer1{
    color: green;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    padding-left: 5px;
}
#inputPlayer1::placeholder{
    color: green;
    font-size: 14px;
    font-weight: 600;
}
#inputPlayer2{
    color: rgb(255, 0, 0);
    font-size: 18px;
    border-radius: 10px;
    border: none;
    padding-left: 5px;
}
#inputPlayer2::placeholder{
    color: rgb(221, 22, 22);
    font-size: 14px;
    font-weight: 600;
}
label{
    color: white;
}
.blockWho{
    padding: 25px;
    margin-bottom: 25px;
}
.text{
    font-size: 24px;
    font-weight: 600;
    color: white;

}
#spanWho{
    color: chartreuse;
    font-weight: 600;
    font-size: 24px;
}
.blockArea{
    display: flex;
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    background: rgb(255, 255, 255);
    flex-wrap: wrap;
    border-radius: 24px;
    box-shadow: 4px 4px 4px 7px rgba(0, 0, 0, 0.5);
 
}
#toggleMode{
    background-color: rgb(158, 4, 247);
    color:white ;
    border-radius: 10px;
    padding: 8px;
    border: none;
    cursor: pointer;
    font-weight: 600;
}
#toggleMode:hover{
    background-color: rgb(117, 73, 158);
}
.blockItem{
    cursor: pointer;
    position: relative;
    display: flex;
    padding: 8px;
    background: gray;
    width: 140px;
    border-radius: 24px;
    height: 140px;
    margin: 5px;
    justify-content: center;
}
.blockItem:hover{
    background:rgb(184, 184, 184) ;
}

.krest{
    color: rgb(255, 0, 0);
    font-size: 38px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.label-krest{
    color: rgb(255, 0, 0);
}
.circle{
    color: rgb(12, 245, 24);
    font-size: 38px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.label-circle{
    color: green;
}
.winColor{
    color: green;
    background: gold;
    font-size: 50px;
    font-weight: bold;
}
.blockWinner{
    margin-top: 24px;
    display: none;
    flex-direction: column;
}
.textWin{
    font-size: 25px;
    font-weight: bolder;
    margin-bottom: 22px;
    color: white;
}
#spanWin{
    font-size: 24px;
    color: rgb(89, 0, 255);
}
#btnNewGame{
    padding: 12px;
    background-color: rgb(55, 172, 55);
    border-radius: 12px;
    color: white;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    border: none;
}
#btnNewGame:hover{
    background-color: greenyellow;
}